.two-grid-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    justify-content: center;
    align-items: center;
}


.one-grid-columns{
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;

    .right-sub-text{
        text-align: right;
        span{
            text-transform: capitalize;
            // background: #26262661;
            padding: 3% 7%;
            font-family: Fanwood Text,serif;
            text-align: center;
            line-height: 21px;
            border-bottom: 3px solid #ffffff78;
            border-top: 3px solid #ffffff78;
        }
    }
}

.grid-element-text{
    display: grid;
    grid-template-columns: 32% 1fr;
    align-items: center;
}

.div-text-elem{
    margin: 0 !important;
    line-height: 1.3;
}

#element-text-banner{
    span{

        &:nth-child(3){

            font-size: 1.5rem;
            letter-spacing: 13px;
            text-align: left;
            color: #ffffff80 !important;
            margin-left: 10px;

            &:before{
                content: '';
                width: 39%;
                background: #d42e0d;
                position: relative;
                display: block;
                height: 1px;
                margin: 7px 10px;
            }
        }
    }
}       

.banner-section{

    h1{
        font-size: 2.0em;
        font-weight: bold;
    }

    
    &:after{
        content: "";
        background: url("../../../static/banner/banner.png") no-repeat;
        position: absolute;
        height: 80vh;
        width: 100%;
        top: 0;
        background-position: center;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}

.banner-img{
    
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    img{ 
        position: absolute;
        left: 0;
        bottom: 0;
        width:100%;
    }
}

.heading--featured{
    span{
        display: block;
    }
}   


.f-letter-elem{
    font-weight: 900 !important;
    font-size: 18rem;
    text-align: center;
    color: #000000 !important;
    background: -webkit-linear-gradient(#e0482f, #a90c55);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-layout-responsive{
    height: 50vh;
    grid-template-columns: 15% 1fr;
}


/*Modification*/
.banner-text{

    line-height: 1;
    position: relative;
    line-height: 1;
    z-index: 1;
    margin-top: 16%;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888;

    h1{

        text-transform: uppercase;
        font-size: 5rem;
        line-height: 1;
        font-weight: 900;
        color: #fff!important;
        padding: 0;
        text-align: center;

        padding: 30px;
        // background: #00000029;

        span{
            &:nth-child(1),
            &:nth-child(4){
                position: relative;
                z-index: 2;
            }

            &:nth-child(2){
                background: -webkit-linear-gradient(#ddc852, #b57306);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 8rem;
            }
        }           

        &:after{
            content: " ";
            background-image: url("../../../static/img/leaves.png");
            position: absolute;
        }       
    }
    
    p{
        margin: 0 !important;
        position: relative;
        z-index: 10;
        color: #ffffff;
        letter-spacing: 0px;
        font-weight: 100;
        font-size: 1.5rem;
        line-height: 1.3;
        font-size: 13px;
        font-weight: 500;
        opacity: 0.9;
        font-family: Fanwood Text,serif;
        text-align: center;
        text-transform: uppercase;
        padding: 2% 0;
    }

    span{
        display: block;
    }

    a{

        &:before{
            content: '';
            width: 100%;
            background: #e0e0e0ee;
            position: relative;
            height: 1px;
            margin: 22px 2px;
        }

        text-transform: uppercase;
        color: #eeee !important;
        margin-top: 8%;
        display: block;
    }


    .first-title{
        font-family: "augusta-free";
        font-size: 5em;
        color: #fff;
    }
}